*{
    box-sizing: border-box;
}
header {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    margin: 0;
}

nav {
    display: flex;
    margin-right: 1000px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 250px;
    transition: color 0.3s;
}

nav a:hover {
    color: #007bff;
}
#shop{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* Espacement entre les éléments */
    padding: 10px;
}

.shop_item {
        background-color: #f8f9fa;
        border: 1px solid #ddd; 
        border-radius: 5px;
        text-align: center;
        padding: 10px; 
    }


img{
    width: 100%;
}
#about {
    background-color: #f0f0f0;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    margin: 20px;
}

#about h1 {
    font-size: 2.5em;
    color: #343a40;
    margin-bottom: 10px;
}

#about p {
    font-size: 1.2em;
    color: #666;
}
